<div class="twit-body">
    <div class="twit-box">
        <div class="twit-head">
            <h2>Edit</h2>
        </div>
        <div class="twit-content">
            <form name="form" action="" class="form">
                <textarea class="twit-message-input" name="message"></textarea>
                <input type="submit" class="twit-input" value="Submit" />
            </form>
        </div>
    </div>
</div>