body{
    margin: 0;
    padding: 30px 0;
}

.twit-add-box{
    background: #52cac0;
    padding:30px;
    box-sizing: border-box;
}

.twit-add-box .form-control{
    border-color: rgba(0,0,0,0.4);
    box-shadow: none;
}

.twit-add-box .form-control:focus{
    border-color: rgba(241, 14, 14, 0.7);
    box-shadow: none;
}

.twit-add-box .btn-lg{
    float: right;
    padding: 8px 30px;
}

.twit-list{
    padding-top:15px;
    background: #f9f9f9;
}

.twit-list .card{
    margin-bottom: 15px;
}