body{
    margin: 0;
    padding: 30px 0;
    background:#f9f9f9;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-box{
    border-radius: 8px;
}

.message-box{
    border:none ;
    border-bottom:2px solid #ddd;
    resize: none;
    border-radius: 0;
    padding:0;
}

.message-box:focus{
    border:none;
    box-shadow: none;
    border-bottom:2px solid rgb(218, 44, 44);
}

.add-btn{
    float: right;
    padding: 8px 30px;
}

.add-box .card-header{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.post-card{
    border-radius:8px;
}
.post-card .card-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFF;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.post-card .card-header .header-left{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-grow: 1;
}

.avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.avatar img{
    width: 100%;
    clip-path: circle(50%);
}

.post-card.active{
    background: #f9f9f9;
}

.post-card .card-header{
    background: #fff;
}
.post-card .card-header.active{
    background: #f9f9f9;
}

.post-card .card-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.alert strong{
    text-transform: capitalize;
}